/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON */
.container{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
}
.header{
    color: white;
    background-color: #0084fd ;
    height: 70px;
    
}

.main-nav{
    display: flex;
    list-style: none;
}


/* RESPONSIVE HEADER */

@media screen and (max-width: 992px) {
    .hamburger{
        display: none;
    }
    }

@media screen and (min-width: 992px) {
        .hamburger{
            display: none;
        }
        }

@media screen and (max-width: 768px) {
    .main-nav{
        display: none;
    }
    .hamburger{
        display: block;
    }
}








/* MAIN */

.row{
    display: flex;
}

.col{
    width: 100%;
}